:root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: #686868;
   }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    background-color: var(--primary);
    color: var(--light);
}

ul{
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    padding-inline-start: 40px;
}

h1{
    display: block;
    margin-block-start: 0.70em;
    margin-block-end: 0.70em;
    font-weight: bold;
}


.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-head{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 76px;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
}

.fake-logo{
    max-width: 130px;
    width: 100%;
}

.options-bar{
    top: 70px;
    left: 0;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left:auto;
    width: 100%;
    justify-content: center;
    padding-left: 40px;
}

.links{
    display: inline-block;
    margin-top: 0px;
    margin-right: 12px;
    margin-bottom: 0px;
    margin-left: 12px;
    font-size: 14px;
}


.user-search-bar{
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 0;
}

.items{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.first-item{
    cursor: pointer;
    margin-left: 0.5rem;
    padding-right: 30px;
}

.toggler{
    margin-left: 0.5rem;
}

.second-item{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.profile{
    max-width: 50px;
    width: 100%;
    margin-right: 10px;
}


.homepage{
    overflow: hidden;
    padding-top: 76px;
}

.first-part{
    position: relative;
    width: 100%;
    display: flex;
    background: var(--primary);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


.fp-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 0 4vw 10vh; */
    padding: 0  77px 192px;
}
.fp-content-title{
    font-size:30px;
}

.fp-buttons{
    display: flex;
    align-items: center;
    margin-top: 19px;
}

.fp-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    background-color: rgba(109,109,110,.7);
    color: var(--light);
    margin-left: 10px;
    padding: 10px 16px;
    border-radius: 6px;
    border: 0;
    margin-top: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.fp-button:first-child{
    margin-left: 0;
    background-color: #e50914;
    color: var(--light);
}

.fp-button span{
    margin-left: 8px;
}

